body {
font-family:Georgia;
font-size:15px;
}

q {
quotes:\201C \201D \2018 \2019;
}

ol {
counter-reset:list;
}

ol > li {
list-style:none;
position:relative;
}

ol > li:before {
counter-increment:list;
font-weight:700;
content:counter(list,lower-alpha) ") ";
position:absolute;
left:-1.4em;
}

a {
text-decoration:none;
}

img.center {
display:block;
margin-left:auto;
margin-right:auto;
}

.bland:visited {
color:blue;
}